<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] GestBibliotheque .Net 8</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestBibliothequeDotnet8.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GestBibliotheque</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>

                        <li class="nav-item">
                        <li><a class="nav-link text-dark" asp-controller="Categories" asp-action="Index">Catégories</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="livresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Livres
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="livresDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Livres")">Liste des Livres</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Ajouter", "Livres")">Ajouter un Livre</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                        <li><a class="nav-link text-dark" asp-controller="Reservations" asp-action="Index">Réservations</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="actionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Emprunts
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Emprunts")">Gestion des emprunts </a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Ajouter", "Emprunts")">Emprunter un livre </a></li>
                                <li><a class="dropdown-item" href="@Url.Action("RechercherEmprunt", "Retours")">Retourner un livre </a></li>
                                <li><a class="dropdown-item" href="@Url.Action("EmpruntActif", "Retours")">Emprunts Actifs </a></li>
                                <li><a class="dropdown-item" href="@Url.Action("EmpruntInActif", "Retours")">Emprunts inactifs </a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="actionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("AjouterStock", "LivresOperations")">Gestion Stock</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("VerifierDisponibilite", "LivresOperations")">Vérifier Disponibilité </a></li>
                                <li><a class="dropdown-item" href="@Url.Action("LivresEnStock", "LivresOperations")">Livres Disponible </a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                        <li><a class="nav-link text-dark" asp-controller="Utilisateurs" asp-action="Index">Utilisateurs</a></li>
                        <li class="nav-item">
                        <li><a class="nav-link text-dark" asp-controller="Usagers" asp-action="Index">Usagers</a></li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - GestBibliotheque - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Les scripts généraux sont maintenant chargés ici dans le layout -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- La section Scripts est maintenant incluse ici et peut être remplie par les pages individuelles -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
